@page
@model FavorietenModel

<h1>Favorite Movies</h1>

<h1>@ViewData["Title"]</h1>

<link rel="stylesheet" href="~/css/IndexStyle.css"/>

<section class="movies-list">
    @foreach (var movie in Model.Movies)
    {
        <div class="movie-container">
            <div class="picTitle-container">
                <h1>@movie.Title</h1>
                <img src="https://image.tmdb.org/t/p/original/@movie.PosterPath" style="width:250px;height:90%;"/>
            </div>
            <div class="right-side">
                <div class="top-bar-movie">
                    <div class="movie-score">
                        <div class="score-inner">
                            @{
                                int rating = (int)Math.Round(movie.VoteAverage);
                                for (int i = 0; i < 5; i++)
                                {
                                    if (i < Math.Round(movie.VoteAverage / 2.0))
                                    {
                                        <i class="fa-solid fa-star"></i>
                                        rating--;
                                    }
                                    else
                                    {
                                        <i class="fa-regular fa-star"></i>
                                    }
                                }
                            }
                        </div>
                        <div>Score: @Math.Round((decimal)movie.VoteAverage, 1) </div>
                    </div>
                    <i class="fa-solid fa-heart" style="padding:0 1rem 0 1rem;"></i>
                </div>
                <div class="text-container">
                    @movie.Overview
                </div>
            </div>
        </div>
    }
</section>