@page "/home";
@using FilmDatabaseSysteem.Models;
@model IndexModel
@{
    ViewData["Title"] = "Home";
    // ViewData["pageURL"] = "/index";
    //var tmdbService = new TMDBService();
    //var Movies = await tmdbService.GetTrendingMovies();
}
<link rel="stylesheet" href="~/css/IndexStyle.css" />

<form method="get" style="margin:auto;">
    <div class="form-group">
        <input type="text" asp-for="SearchString" class="align-middle" style="width:200px" />
        <input type="submit" value="Zoek" class="btn btn-primary" />
        <span asp-validation-for="SearchString" style="color:red; font-weight:900"></span>
    </div>
</form>
<section class="movies-list">
    @foreach (var movie in (List<Movie>)ViewData["TrendingMovies"])
    {
        <div class="movie-container">
            <div class="left-side">

                <a asp-page="Film">
                    <img src="https://image.tmdb.org/t/p/original/@movie.PosterPath" />
                </a>
            </div>
            <div class="right-side">
                <div class="top-bar-movie">
                    <h1 class="movie-title">@movie.Title</h1>
                    <div>
                        <div class="movie-score">
                            <div class="score-inner">
                                @{
                                    int rating = (int)Math.Round(movie.VoteAverage);
                                    for (int i = 0; i < 5; i++)
                                    {
                                        if (i < Math.Round(movie.VoteAverage / 2.0))
                                        {
                                            <i class="fa-solid fa-star"></i>
                                            rating--;
                                        }
                                        else
                                        {
                                            <i class="fa-regular fa-star"></i>
                                        }
                                    }
                                }
                            </div>
                            <div>Score: @Math.Round((decimal)movie.VoteAverage, 1) </div>
                        </div>
                        <i class="fa-solid fa-heart" style="padding:0 1rem 0 1rem;"></i>
                    </div>
                </div>
                <div class="text-container">
                    @movie.Overview
                </div>
            </div>
        </div>
    }
</section>


