@page "/"
@model FilmDatabaseSysteem.Pages.LoginModel

@{
    ViewData["Title"] = "Login";
    ViewData["CurrentPage"] = Model.CurrentPage;
    Layout = "_LayoutAuth";
}
}

<body style="background:#1f1f1f !important;height:100vh;margin:auto;padding:0;">
    <section class="login-container my-auto align-items-center" style="display:flex;height:100vh;">
        <form method="post" style="margin:auto;padding:1rem 2rem 1rem 2rem;border-radius:15px;height:fit-content; background: linear-gradient(141.93deg, rgba(255, 255, 255, 0.8) 2.85%, rgba(255, 255, 255, 0.6) 73.61%);">
            <div class="form-group">
                <input type="hidden" id="role" value="false" />
                <label for="Email">Email address</label>
                <input type="email" class="form-control" name="Email" id="email" aria-describedby="emailHelp" placeholder="Vul Email in">
                <small id="emailHelp" class="form-text text-muted">Wij delen uw Email adres nooit met derden</small>
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" name="Password" id="password" placeholder="Wachtwoord">
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Login</button>
            <br />
            <a asp-page="registratie">Registreer</a>
        </form>
    </section>
</body>
