html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.search-bar {
}

.navigation-container {
    display: contents;
}

.navbar {
    position: relative;
    background: rgba(255,255,255,0.8);
    /*height: 5rem;*/
}

.actual-links a {
    text-decoration: none;
    letter-spacing: 3px;
    margin: 0 0.1rem 0 0.1rem;
    border: 3px solid black;
    border-radius: 10px;
    padding: 0.8rem;
    color: black;
    font-family: 'Lucida Sans Typewriter';
    font-size: 15px;
}

    .actual-links a:hover {
        background: black;
        text-decoration: none;
        letter-spacing: 3px;
        margin: 0 0.1rem 0 0.1rem;
        border: 3px solid black;
        border-radius: 10px;
        padding: 0.8rem;
        color: white;
        font-family: 'Lucida Sans Typewriter';
        font-size: 15px;
        transition-duration: .4s;
    }
